.cursor-circle {
    position: fixed;
    width: 40px;
    height: 40px;
    background-color: rgba(255, 255, 255, 0.0);
    border-radius: 90%;
    pointer-events: none;
    z-index: 9999;
    border: 2px solid #007acc;
    color: rgb(19, 0, 31);
}